*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Cooper ltbt";
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
    background-color: #fff;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav{
    height:100px;
    width:100%;
    position:fixed;
    top:0;
  
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 40px;
}
#nav h1{
    font-size: 31px;
    font-weight: 100;
}
#nav #part2{
    display:flex;
    align-items: center;
    justify-content: center;

}
#nav #part2 a{
    text-decoration:none;
    color:#222;
    margin:20px;
}
#nav #part2 a:nth-last-child(1){
   
    padding:7px 18px;
    border-radius:50px;
    border:1px solid #000;
    position:relative;
    overflow:hidden;
}
#nav #part2 a:nth-last-child(1) #green{
    width:100%;
    height:100%;
    background-color: springgreen;
    position: absolute;
    top:0;
    left:-100%;
    transition: left 0.4s ease;
}
#nav #part2 a:nth-last-child(1):hover #green{
    left:0%;
}
#nav #part2 a:nth-last-child(1) h5{
    font-weight:100;
    position:relative;
    z-index: 99;
}

#main>h1{
    font-size: 5.5vw;
    font-weight: 100;
    text-align: center;
    text-transform:capitalize;
    width:60%;
    z-index: 99;
}

#main>h1::after{
    content:"";
    position:absolute;
    width:19%;
    height:16px;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    bottom:36%;
    left:50%;
    background-size:cover;
    transform:translate(-50%,0);
}

#main #img1{
height:510px;
width:380px;
position:absolute;
left:7%;
top:20%;
}
#main #img2{
    height:220px;
    width:290px;
    position:absolute;
    left:60%;
    top:18%;
}
#main #img3{
    height:270px;
    width:270px;
    position:absolute;
    right:10%;
    top:57%;
}

#main img{
    transition: margin 0.8s ease;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
}
#main img:hover{
    margin-top:-20px;
}
img{
    height:100%;
    width:100%;
    object-fit: cover;

}
#page2{
    height:1800px;
    width:100%;
    align-content: center;
}

#page2part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:1300px;
    width:92%;
    margin-top:60px;
    margin-left:80px;
   
}

.row{
    height: 400px;
    width: 100%; /* Adjusted width */
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top:130px;
}

.box{
    height:300px;
    width:500px;
    margin-right: 200px;
   
    
   
}

.box:last-child {
    margin-right: 0;
}


.box img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
}




#part3 {
   height:500px;
   width:100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}

#part3 img {
   
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-right: 70px;
    border-radius:20px;
    box-shadow: 10px 10px 8px #888888;
}

p{
    font-size: 30px;
    margin-top: 0px;
}


#imag h1{
    font-size: 20px;
}

#page3{
    height:100%;
    width:100%;
    background-color: pink;
}




